#optionSelector{
    width: 300px;
    margin: 30px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#confirm_button{
    color: #d9534f;
    background-color: white;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}
#nav{
    display: inline;
    background-color: whitesmoke;
    color: black;
    padding: 16px 110px;
    font-size: 20px;
}
#nav_active{
    display: inline;
    background-color: #d9534f;
    color: white;
    padding: 16px 110px;
    font-size: 20px;
}
.seats {
    justify-content: space-around;
    width: 700px;
}

.seat {
    padding: 3px 10px;
    width: 80px;
}

.seat input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.seat input[type=checkbox]:checked+label {
    background: green;
    color: white;
}

.seat input[type=checkbox]:disabled+label {
    background: rgb(212, 112, 112);
    text-indent: -9999px;
    overflow: hidden;
}

.seat input[type=checkbox]:disabled+label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.seat input[type=checkbox]:disabled+label:hover {
    box-shadow: none;
    cursor: not-allowed;
}

.seat label {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 5px;
    background: white;
    border-radius: 5px;
    color: black;
}

.seat label:before {
    content: "";
    position: absolute;
    border-radius: 0px;
}

.seat label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px black;
}
.seatInfo {
    /* position: relative;  */
    left:-50px;
    margin-top:49px;
    border: 1px solid white;
    height: auto;
    border-radius: 5px;
}

.seatfrm{
    box-shadow: 8px 8px lightslategrey;
    background-color: #d9534f;
    color: white;
}
.seatInp{
    margin-right:-8px;
    width:50%;
}

.form-check{
    margin-left: 32px;
    margin-top:5px;
}

.seatBT{
    display:block;
    margin-left:36%;
}

.hideBT{
    display:none;
}
#button{
    color: #d9534f;
    background-color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
}